#blog
{
	list-style: none;
}
.manufacturers SELECT
{
	width: 100%;
}
/*****************************************************************************************h******************************************************************************/
H1
{
	color: #FFBB04;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 15px 0;
	font-family: Roboto, sans-serif;
}
H2
{
	color: #FFBB04;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
}
#content H2
{
	text-shadow: 0px 1px 0px #000;
}
.description .price-old
{
	text-shadow: 0px 1px 0px #000;
}
INPUT.button-prod
{
	border: 1px solid #000000;
	padding: 6px 10px !important;
}
A.cloud-zoom-gallery
{
	display: block;
	width: 90px;
	height: 90px;
	text-align: center;
	line-height: 90px;
	margin-right: -5px !important;
	margin-bottom: 10px;
}
A.cloud-zoom-gallery IMG
{
	vertical-align: middle;
}
SPAN.button
{
	cursor: pointer;
}
SPAN.button INPUT
{
	cursor: pointer;
}
#content H1
{
	font-style: italic;
	text-shadow: 0px 1px 0px #000;
}
.box-heading
{
	font-style: italic;
	
}
.box .box-heading
{
	font-size: 24px;
	line-height: 30px;
	color: #FFBB04;
	background: url(../image/heading.png) repeat-x left top;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	padding: 7px 13px;
    border-radius: 5px;
	
}
#content .box .box-heading
{
	font-size: 24px;
	line-height: 30px;
	color: #262626;
	background: none;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	padding: 4px 13px 8px;
	border-bottom: 2px solid #000000;
/*border-radius: 0px*/
}
#logo
{
	
	float: left;
	
}
#contact
{
	float: right;
	text-align: right;
	margin-top: 45px;
	margin-right: 5px;
/*font-sdtyle: italic*/
	height: 25px;
	color: #505050;
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
}
#contact #phone
{
	font-size: 18px;
}
/*@end — Меню каталога*/
#all_brands
{
	width: 220px;
	margin-bottom: 15px;
}
/*@group Brands*/
#brands
{
	clear: both;
	margin-bottom: 10px;
	margin-top: 10px;
}
#brands A
{
	color: #EC0060;
	font-size: 12px;
	margin-right: 10px;
}
#brands IMG
{
	vertical-align: middle;
}
#brands A:hover
{
	color: #000;
}
#brands A.selected
{
	background-color: #EC0060;
	color: #FFFEFF;
	padding: 2px;
}
/*@end
Хлебные крошки*/
#path
{
	margin-top: -20px;
	margin-bottom: 5px;
	font-size: 11px;
	color: #A0A0A0;
}
#path A
{
	color: #A0A0A0;
}
/*@end
@group Товар подробно*/
.product .image
{
	/*[disabled]text-align:center;*/
	/*[disabled]width:300px;*/
	/*[disabled]background-color:#FFFFFF;*/
	/*[disabled]border:1px solid #E0E0E0;*/
	/*[disabled]float:left;*/
	/*[disabled]padding:5px;*/
	/*[disabled]margin-right:20px;*/
}
.variants .product .image
{
	height: 200px;
	line-height: 200px;
}
.left.spacing .image
{
	height: 300px;
	line-height: 300px;
}
.cloud-zoom-title
{
	height: auto !important;
	line-height: normal !important;
}
.variants .product .image IMG
{
	vertical-align: middle;
}
.product .image IMG
{
	max-width: 300px;
}
.product .images
{
	float: left;
	clear: left;
	width: 300px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.product .images IMG
{
	text-align: center;
	width: 50px;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	float: left;
	padding: 5px;
	margin: 4px 10px 10px 0px;
}
.product .features
{
	list-style: none;
	width: 100%;
	display: block;
	clear: both;
	border-bottom: 1px solid #E0E0E0;
}
.product .features LI
{
	padding: 10px 5px;
	overflow: hidden;
	border-top: 1px solid #E0E0E0;
	background-color: #F0F0F0;
}
.product .features LI.even
{
	background-color: transparent;
}
.product .features LABEL
{
	font-style: normal;
	display: block;
	width: 30%;
	float: left;
	font-weight: bold;
}
.product .features SPAN
{
	float: left;
	display: block;
	width: 70%;
}
.product .variants
{
	width: 100%;
}
.rating
{
	padding-bottom: 10px;
}
.rating SELECT
{
	margin-bottom: 15px !important;
	display: block;
}
.product .variant TD
{
	padding-bottom: 6px;
	vertical-align: middle;
}
.product .compare_price
{
	font-size: 14px;
	text-decoration: line-through;
	white-space: nowrap;
	color: #707070;
}
.product .variant_name
{
	float: left;
	margin-right: 10px;
	font-size: 12px;
}
.product .variant_radiobutton
{
	margin-right: 5px;
	margin-left: 0px;
}
#back_forward
{
	font-size: 14px;
	margin-bottom: 20px;
	/*[disabled]clear:both;*/
}
#back_forward A.prev_page_link
{
	margin-right: 20px;
}
/*@end — Товар подробно*/
.tiny_products
{
	list-style: none;
	display: block;
}
.tiny_products .product
{
	width: 210px;
	margin-right: 10px;
	margin-bottom: 30px;
	display: -moz-inline-box;
	display: inline-block;
	zoom: 1;
	display: inline;
	word-spacing: normal;
	vertical-align: top;
}
.tiny_products .product .image
{
	vertical-align: middle;
	text-align: center;
	width: 200px;
	height: 200px;
	line-height: 200px;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	padding: 5px;
	margin-bottom: 10px;
}
.tiny_products .product .image IMG
{
	vertical-align: middle;
	max-width: 200px;
}
.tiny_products .product H3
{
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: normal;
}
.tiny_products .product H3.featured
{
	background: url(../images/star.png) no-repeat;
	background-position: left middle;
	padding-left: 20px;
}
.products
{
	list-style: none;
	display: block;
}
.products .product
{
	width: 100%;
	display: block;
	clear: both;
	overflow: hidden;
}
.products .product .image
{
	text-align: center;
	width: 200px;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	float: left;
	padding: 5px;
	margin: 4px 0px 20px;
}
.products .product .image IMG
{
	max-width: 200px;
}
.products .product .product_info
{
	float: right;
	width: 450px;
	margin-bottom: 40px;
}
.products .product H3
{
	font-size: 20px;
	margin-bottom: 5px;
	font-weight: normal;
}
.products .product H3.featured
{
	background: url(../images/star.png) no-repeat;
	background-position: left middle;
	padding-left: 20px;
}
.products .product .annotation
{
	font-size: 12px;
	color: #505050;
	margin-bottom: 5px;
}
/*@group Фильтр по свойствам*/
#features
{
	background-color: #E8E9E9;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
}
#features .feature_name
{
	padding: 7px;
	font-weight: bold;
}
#features .feature_values
{
	padding: 7px;
}
#features A
{
	padding-right: 6px;
	white-space: nowrap;
}
#features A.selected
{
	background-color: #4A4A4A;
	color: #FFF;
	text-decoration: none;
	padding-left: 6px;
}
/*@end — Фильтр по свойствам
@group Сортировка*/
.sort A
{
	margin-right: 5px;
}
.sort .selected
{
	color: #505050;
	text-decoration: none;
	margin-right: 5px;
}
/*@end
@group Постраничная навигация*/
.pagination A.selected:hover, .pagination A.selected
{
	background-color: #DDD;
	font-weight: bold;
}
/*@end
@group Просмотренные товары*/
#browsed_products
{
	margin-bottom: 20px;
	overflow: hidden;
	margin-right: -5px;
	margin-left: -5px;
	padding-left: 0;
}
#browsed_products LI
{
	display: block;
	float: left;
	overflow: hidden;
	border: 1px solid #E0E0E0;
	background-color: #FFFFFF;
	margin: 0 7px 7px 0;
	width: 50px;
	height: 50px;
}
#browsed_products LI A
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50px;
	height: 50px;
}
/*@end — Просмотренные товары
@group Формы*/
INPUT[type="text"], INPUT[type="password"]
{
	width: 100%;
	font-size: 18px;
}
.cart-top-padd INPUT
{
	width: 25px;
}
.form
{
	width: 400px;
	margin-bottom: 20px;
}
.form TEXTAREA
{
	width: 100%;
	height: 100px;
	font-size: 18px;
}
.form LABEL
{
	display: block;
	font-size: 14px;
}
.form INPUT[type="text"]
{
	display: block;
	margin-bottom: 10px;
}
/*@group Комментарии*/
.comment_list
{
	margin-top: 15px;
	list-style: none;
}
.comment_list LI
{
	padding-bottom: 15px;
}
.comment_header
{
	font-size: 18px;
}
.comment_header I
{
	font-weight: normal;
	font-style: normal;
	color: #878787;
	font-size: 13px;
}
/*@end — Комментарии
@group Форма отправки комментария*/
.comment_form
{
	/*[disabled]background-color:#F3F3F3;*/
	/*[disabled]border:1px solid #E0E0E0;*/
	padding: 20px 20px 20px 0;
	margin-top: 20px;
	/*[disabled]width:94%;*/
	overflow: hidden;
}
.comment_form H2
{
}
.comment_form .comment_textarea
{
	width: 100%;
	height: 100px;
	font-size: 12px;
}
.comment_form LABEL
{
	display: block;
	float: left;
	width: 100px;
	font-size: 18px;
	margin-top: 15px;
}
.comment_form .input_name
{
	font-size: 16px;
	width: 250px;
	margin-top: 15px;
}
.comment_form .input_captcha, .cart_form .input_captcha
{
	float: left;
	width: 150px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 15px;
	height: 36px;
}
.comment_form .captcha, .cart_form .captcha
{
	float: left;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
}
.comment_form .button, .feedback_form .button, .register_form .button, .login_form .button
{
	float: right;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
}
/*@end — Форма отправки комментария
@group Форма отправки обратной связи*/
.feedback_form
{
	background-color: #F3F3F3;
	border: 1px solid #E0E0E0;
	padding: 20px;
	margin-top: 20px;
	width: 90%;
	overflow: hidden;
}
.feedback_form .input_captcha, .register_form .input_captcha
{
	float: left;
	width: 150px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 15px;
	height: 36px;
}
.feedback_form .captcha, .register_form .captcha
{
	float: left;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
}
.feedback_form .button_send
{
	font-size: 18px;
	float: right;
	margin-top: 25px;
}
/*@end — Форма отправки комментария
@group Корзина*/
#purchases
{
	width: 100%;
}
#purchases TR
{
	border-top: 1px solid #D5D5D5 !important;
	height: 70px;
}
#purchases TH
{
	vertical-align: top;
	padding-top: 10px;
	font-size: 18px;
	font-weight: normal;
}
#purchases .image
{
	width: 50px;
	text-align: center;
}
#purchases .image A
{
	border: 1px solid #E0E0E0;
	background-color: #FFFFFF;
	margin: 0 7px 7px 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50px;
	height: 50px;
}
#purchases .name
{
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}
#purchases TD.name
{
	font-size: 14px;
}
#purchases TD .download_attachment
{
	white-space: nowrap;
	color: #3B8500;
	padding: 5px 10px 7px;
	border-bottom-color: 1px dotted green;
	background-color: #CCFF72;
	line-height: 30px;
}
#purchases .price
{
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	text-align: right;
}
#purchases TD.price
{
	font-size: 14px;
}
#purchases .remove
{
	padding-left: 15px;
	text-align: right;
}
#purchases .amount
{
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
}
#purchases .amount SELECT
{
	font-size: 12px;
}
#purchases .coupon .name
{
	font-size: 14px;
}
#purchases .coupon .name INPUT.coupon_code
{
	width: 200px;
}
#purchases .coupon .name INPUT
{
	font-size: 16px;
}
UL#deliveries
{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	padding: 20px 20px 0;
	list-style: none;
}
UL#deliveries LI
{
	margin-bottom: 20px;
}
UL#deliveries LI DIV.checkbox
{
	float: left;
}
UL#deliveries LI H3, UL#deliveries LI .description
{
	display: block;
	margin-left: 25px;
}
/*@end
@group Кабинет*/
#orders_history
{
	list-style: none;
}
#orders_history LI
{
	margin-bottom: 10px;
}
#orders_history LI A
{
	font-size: 16px;
}
/*@end — Кабинет
@group Детали заказа*/
TABLE.order_info
{
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #F9F9F9;
}
TABLE.order_info TD
{
	padding: 10px;
	border: 1px dotted #E0E0E0;
	font-size: 14px;
}
.checkout_button
{
	padding: 10px 20px;
	border: 1px solid #51A400;
	background-color: #D3FFA9;
	color: #2E5E00;
	font-size: 14px;
}
/*@end
Сообщение с ошибкой*/
.message_error
{
	clear: both;
	height: 18px;
	padding: 10px 20px;
	margin-bottom: 15px;
	margin-top: 10px;
	overflow: hidden;
	color: #FF0000;
	background-color: #FFCACA;
	border: 1px dotted #FF4545;
}
/*@end*/
