.left 						{float:left !important;}
.right 						{float:right !important;}
.clear						{clear:both;}
.clear_dot 					{clear:both;margin-bottom:15px;padding-top:15px;border-bottom:1px dotted #BFBFBF;}
.message_error				{clear:both;height:18px;padding:10px 20px;margin-bottom:15px;margin-top:10px;overflow:hidden;color:red;background-color:#ffcaca;border:1px dotted #ff4545;}
.even						{background-color:#F7F7F7;}
.hover_mouse				{opacity:0.7;}
.hover_mouse:hover			{opacity:1.0;}
.ui-effects-transfer 		{z-index:999;}

.form						{position:relative;overflow:hidden;margin:20px 0px;padding:20px;border:1px solid #E3E3E3;background:#F7F7F7;font-size:12px;}
.form [type="password"],
.form [type="text"]			{width:250px;border:1px solid #CCCCCC;padding:5px;margin-bottom:10px;}
.form textarea				{height:80px;width:99%;font:12px Arial, sans-serif;margin-bottom:10px;border:1px solid #CCCCCC;}
.form label					{clear:both;display:block;font-weight:700;margin-bottom:8px;}
.form .captcha, .form .input_captcha {float:left;}
.form .input_captcha			{text-align:center;margin:0px 25px 0 15px;width:80px;font-size:28px;text-transform:uppercase;}
.button						{background:#000;color:#fff;font:bold 12px Arial!important;margin:5px 0 0 0;padding:7px 25px;border-radius:6px;border:1px solid #CECECE;
}.button:hover				{margin:3px 0 2px 0;background:#3463B3;color:#fff;
}.button:active				{margin:5px 0 0 0;border:1px solid #CECECE!important;}
.checkout_button			{float:right;padding:10px 20px 10px 20px;background-color:green;color:#fff;font-size:14px;}
#skypedetectionswf			{display:none;}

/* @group Корзина */
#purchases 						{width:100%;margin:20px 0;}
#purchases td					{padding:8px;vertical-align:middle;text-align:left;}
#purchases tr						{border-top:1px solid #E3E3E3;}
#purchases th					{padding:10px 7px;font-size:18px;font-weight:normal;}
#purchases .image				{line-height:60px;text-align:center;width:60px;}
#purchases .image img			{vertical-align:middle;}
#purchases .image a				{border:1px solid #E3E3E3;background-color:#ffffff;display:table-cell;width:60px;height:60px;}
#purchases td.name				{padding-right:15px;}
#purchases td .download_attachment{white-space:nowrap;color:#3b8500;padding:5px 10px 7px 10px;border-bottom-color:1px dotted green;background-color:#ccff72;line-height:30px;}
#purchases .price				{white-space:nowrap;text-align:right;}
#purchases td.price				{font-size:15px;}
#purchases .remove				{text-align:right;width:20px;}

ul#deliveries					{margin:20px 0;padding:20px 15px;border:1px solid #E3E3E3;background:#F7F7F7;list-style:none;}
ul#deliveries li					{margin-bottom:30px;}
ul#deliveries li div.checkbox		{float:left;}
ul#deliveries li h3, ul#deliveries li .description{display:block;margin-left:25px;}

.qr_block						{float:right;font:bold 11px/12px Arial;margin:15px;}
.table_info						{margin:20px 0;}
.table_info td					{padding:7px 15px;border-bottom:1px solid #E3E3E3;}
.table_info td.name				{font-weight:600;width:180px;background:#F7F7F7;}

#back_forward					{clear:both;overflow:hidden;margin:20px 0;border-top:1px solid #E3E3E3;border-bottom:1px solid #E3E3E3;}
#back_forward a					{width:45%;padding:20px 0;line-height:13px;color:#000;}
#back_forward .prev_page_link	{float:left;padding-left:25px;background:url(../images/bg/product_prev.png) no-repeat left center;}
#back_forward .next_page_link	{float:right;padding-right:25px;text-align:right;background:url(../images/bg/product_next.png) no-repeat right center;}

.pagination 						{clear:both;font-size:11px;overflow:hidden;margin:10px 0px;}
.pagination a 					{display:inline-block;text-decoration:none;text-align:center;color:#C2C2C2;padding:2px 4px;min-width:12px;background:#F7F7F7;border:1px solid #EBEBEB;}
.pagination a:hover, .pagination a.selected {background:#3463B3;border:1px solid #3463B3;color:#fff;text-decoration:none;}
.pagination .sort				{float:right;color:#808080;margin-left:25px}
.pagination .sort select			{width:80px;padding:2px;}

#features						{position:relative;width:100%;font-size:11px;margin-bottom:20px;}
#features li						{overflow:hidden;padding:3px;border-bottom:1px dotted #CFCFCF;}
#features p						{margin:0;}
#features .name					{width:26%;float:left;clear:both;}
#features .values				{width:70%;float:right;}
#features .values a				{display:inline-block;white-space:nowrap;margin:0 10px 1px 0;color:#3A3A3A;}
#features a.selected				{text-decoration:underline;opacity:1.0;font-weight:600;color:#3463B3;}

#comments						{clear:both;}
.comment_list 					{margin-top:15px;list-style:none;}
.comment_list li 					{padding:20px 15px;border-bottom:1px dotted #CFCFCF;}
.comment_header 					{font-size:14px;font-weight:bold;margin-bottom:8px;padding-left:20px;background:url(../images/bg/user.png) 0 1px no-repeat;}
.comment_header i 				{font-weight:normal;font-style:normal;color:#878787;font-size:12px;}

.counters						{margin:0 0 10px 40px;max-width:200px;text-align:right;vertical-align:top;}
.counters img					{opacity:0.2;margin:2px;display:inline-block;}
.counters img:hover				{opacity:1.0;}
.copyr							{position:absolute;right:10px;bottom:2px;}
.copyr a							{color:#C1C1C1!important;font-size:10px!important;}
.copyr a:hover					{color:#595959!important;text-decoration:none!important;}

/* @group ++ */
#topcontrol 						{position:fixed;z-index:9999;left:50%;margin:0 0 300px 560px;width:42px;height:26px;display:block;background:url(../images/bg/up.png) no-repeat left 0px;}
#topcontrol:hover				{background-position:0 bottom;}

.container 						{clear:both;margin:20px 0;}
.tab_container					{z-index:5;position:relative;clear:both;padding:0 10px;border:1px solid #D9D9D9;border-radius: 0 0 8px 8px;background:#fff;}
.tab_container .product			{border:none;box-shadow:none!important;padding:20px 0;}
ul.tabs li a 						{text-decoration:none;}
ul.tabs li 						{position:relative;z-index:0;display:inline-block;border:1px solid #D9D9D9;margin-right:5px;padding:10px 30px 8px;background:#F0F0F0;margin-bottom:-2px;border-radius:0 6px 0 0;}
ul.tabs li h2						{margin:0;color:#BABABA;text-transform:uppercase;font-size:16px;}
ul.tabs li h2:hover				{color:#868686;}
ul.tabs li.active 					{border-bottom:none;z-index:99;background:#fff;}
ul.tabs li.active a h2, ul.tabs li:hover a h1{color:#3463B3;}


.theme-default 					{margin:0 auto;margin-bottom:20px;background:url(../images/bg/temp.png);}
.theme-default #slider 			{width:768px;height:400px;display:block;border:1px solid #E8E8E8;}
.theme-default .nivoSlider 		{position:relative;background:#fff url(../images/bg/loading.gif) no-repeat 50% 50%;}
.theme-default .nivoSlider img 	{position:absolute;top:0px;left:0px;display:none;}
.theme-default .nivoSlider a 		{border:0;display:block;border:5px;}
.theme-default .nivo-controlNav 	{position:absolute;right:5px;bottom:5px;margin-left:0px;}
.theme-default .nivo-controlNav a {display:block;width:22px;height:22px;background:url(../images/bg/bullets.png) no-repeat;text-indent:-9999px;border:0;margin-right:5px;float:left;}
.theme-default .nivo-controlNav a.active {background-position:0 -22px;}
.theme-default .nivo-directionNav a {z-index:22;display:block;width:30px;height:30px;background:url(../images/bg/arrows.png) no-repeat;text-indent:-9999px;border:1;}
.theme-default a.nivo-nextNav 	{background-position:-30px 0;right:0px;}
.theme-default a.nivo-prevNav 	{left:0px;}
.nivoSlider 						{position:relative;}
.nivoSlider img 					{position:absolute;top:0px;left:0px;}
.nivoSlider a.nivo-imageLink 	{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;}
.nivo-slice 						{display:block;position:absolute;z-index:5;height:100%;}
.nivo-box 						{display:block;position:absolute;z-index:5;}
.nivo-caption					{position:absolute;left:0px;top:0px;background:#008F2C;color:#fff;opacity:0.2; /* Overridden by captionOpacity setting */width:100%;z-index:8;}
.nivo-caption p 					{padding:7px;margin:0;}
.nivo-caption a 					{display:inline !important;}
.nivo-html-caption 				{display:none;}
.nivo-directionNav a 			{position:absolute;top:55%;z-index:9;cursor:pointer;}
.nivo-prevNav 					{left:0px;}
.nivo-nextNav 					{right:0px;}
.nivo-controlNav a 				{position:relative;z-index:9;cursor:pointer;}
.nivo-controlNav a.active 		{font-weight:bold;}