#########################
#Это мы не включаем в GIT
#########################

compiled/**
cache/**
design/**
.vscode/**
sandbox/**
.idea/**

/simpla/design/compiled/**
img/**

config/db.ini

###################
#А это мы включаем
###################
#Это каталог шаблона
!design/default

#Это бекап пустой базы
!simpla/files/backup/empty.zip

#Это каталоги и файлы simpla/files, которые надо включить
!simpla/files/import/example.csv
!simpla/files/export
!simpla/files/watermark/watermark.png
!simpla/files/export_users


#Это отдельные файлы /img
!img/.htaccess
!img/originals/.htaccess
!img/products/.htaccess
!img/categories/.htaccess
!img/brands/.htaccess
!img/uploads/.htaccess
!img/downloads/.htaccess
!cache/.htaccess
