#########################
#Это мы не включаем в GIT
#########################

/compiled/**
/cache/**
/design/**
/simpla/design/compiled/**

# добавлены отдельные файлы .gitignore
#/simpla/files/**

/files/originals/*
/files/products/*
/files/categories/*
/files/brands/*
/files/uploads/*
/files/downloads/*

/config/db.ini
/simpla/.passwd
/simpla/.htaccess

###################
#А это мы включаем
###################
#Это каталог шаблона
!/design/default

#Это бекап пустой базы
!/simpla/files/backup/empty.zip

#Это каталоги и файлы simpla/files, которые надо включить
!/simpla/files/import/example.csv
!/simpla/files/export
!/simpla/files/watermark/watermark.png
!/simpla/files/export_users


#Это файлы /files
!/files/.htaccess
!/files/originals/.htaccess
!/files/products/.htaccess
!/files/categories/.htaccess
!/files/brands/.htaccess
!/files/uploads/.htaccess
!/files/downloads/.htaccess
!/cache/.htaccess
