#########################
#Это мы не включаем в GIT
#########################

/*.html
/*.php
/*.conf

compiled/**
simpla/design/compiled/**

cache/**
design/**
.vscode/**
sandbox/**
dist/**
.idea/**
/*.xml
/*.xml.gz
/*.sqlite

cron/**
# изображения
img/**

# настройки базы
config/db.ini

# log файл
simpla/log.txt

###################
#А это мы включаем
###################
!index.php
!/install.php
# файлы для работы очереди
!cron/queue_exec.php
!cron/queue_stat.php
!cron/queue_execlast.php
!cron/qcount.php
!cron/qreset.php
!cron/yandex*.php
!cron/sitemap.php

#Это каталог шаблона
!design/default/
!design/default/**/*

#Это бекап пустой базы
!simpla/files/backup/empty.zip

#Это каталоги и файлы simpla/files, которые надо включить
!simpla/files/import/example.csv
!simpla/files/export
!simpla/files/watermark/watermark.png
!simpla/files/export_users


#Это отдельные файлы /img
!img/.htaccess
!img/originals/.htaccess
!img/products/.htaccess
!img/categories/.htaccess
!img/brands/.htaccess
!img/uploads/.htaccess
!img/downloads/.htaccess
!cache/.htaccess

