AddDefaultCharset UTF-8
# ErrorDocument 404 /404
ErrorDocument 401 /password.php
RewriteEngine on

# Админка теперь по адресу /simpla
# RewriteRule		^admin/?$  simpla [L]
# RewriteRule		^simpla/?$  simpla/index.php [L]


# Все запросы, кроме реальных имен файлов обрабатывает главный контроллер
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php

# Настройки для PHP
php_value max_execution_time 30000
php_value max_input_time 30000
php_value upload_max_filesize 400M
php_value post_max_size 400M
