/*
 * jQuery Nivo Slider v2.5.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
/* The Nivo Slider styles */
.slideshow {margin-bottom:20px;}
.nivoSlider {
	position: relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display: none;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	padding-left:0px;
	right:32px;
	top:44px;
	color:#040404;
	z-index:8;
	width:340px;
	line-height:27px;
	font-size:18px;
	
}
.nivo-caption h1 {margin:0px; padding:0px; font:bold 28px Arial; color:#040404; text-transform:none}
.nivo-caption span { display:block;}
.nivo-caption span.line-2 {
	padding:0 150px 0 28px;	
	font-size:15px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.lefttext {
	font-size:20px;
	color:#fff;
	line-height:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:normal;
	margin:0 150px 5px 28px;
}
.nivo-caption p{ position:relative;}
.nivo-caption p p{
	margin:8px 0 15px;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
	display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	bottom:23px;
	z-index:9;
	cursor:pointer;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
/* slider theme */
.slideshow a {
	border: 0;
	display: block;
}
.nivo-controlNav {
	position: absolute;
	right:13px;
	top:13px;
	z-index:9;
}
.nivo-controlNav a:hover{color:#d41c0a;}
.nivo-controlNav a {
	vertical-align: top;
	display: block;
	text-indent:-9999px;
 	text-decoration:none;
	font-size:0px; 
	cursor:pointer;
	float:left;
	margin-left:4px;
	background: url('../image/paggs.png') right top no-repeat; 
	width:16px; 
	height:16px;
}
.nivo-controlNav a:hover, .nivo-controlNav a.nivo-control.active {
	background-position:left 0;	
}
.nivo-controlNav a.nivo-control.active { cursor:default;}

.nivo-directionNav a {
	display:block;
	width:50px;
	height:48px;
	text-indent:-9999px;
	border:0;
	z-index:10;
	bottom:23px;
	
}
.nivo-directionNav a:hover { background-position:0 bottom;}
a.nivo-nextNav {
	right:23px;
	background:url(../image/next.png) 0px 0px no-repeat;
}
a.nivo-prevNav {
	right:68px;
	background:url(../image/prev.png) 0px 0px no-repeat;
}
.nivo-caption {
	text-shadow:none;
	font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a {
	color:#040404;
	text-decoration:underline;
	background:#fff107;
	font-size:18px;
	text-decoration:none;
	padding:5px 13px;
	border-radius:18px;
	display:inline-block
	}
.nivo-caption a:hover {
	color:#fff;
	background:#1c1b1b
	}

#loopedCarousel{ position:relative; padding-left:30px;}
#loopedCarousel .container {height:242px; width:480px!important; overflow:hidden; position:relative; }
.slides {position:absolute; top:10px; left:0; width:500px;}
.slides .name { padding-bottom:7px;}
.slides .name a{ color:#2fa1bc; text-decoration:underline;}
.slides .name a:hover{ text-decoration:underline; color:#f83b01;}
.slides .price{ color:#f65423; font-weight:bold;}
.slides .price .price-old{ font-weight:normal; font-size:11px; text-decoration:line-through; display:block; }
.slides > div {width:140px;display:block; padding-right:21px; text-align:center; }
#loopedCarousel .pagination{ display:none;}
#loopedCarousel .previous{background: url('../image/prev.png') left top no-repeat; width:19px; height:28px; position:absolute; left:-2px; top:102px; font-size:0; line-height:0; text-indent:-9999px;  }
#loopedCarousel .previous:hover{ background-position:0 -28px;}
#loopedCarousel .next{background: url('../image/next.png') left top no-repeat; width:19px; height:28px; position:absolute; right:0px; top:102px; font-size:0; line-height:0; text-indent:-9999px;  }
#loopedCarousel .next:hover{ background-position:0 -28px;}
.hover-spesial{ position:absolute; left:30px; top:100px;
background: url('../image/hover-special.png') left top no-repeat; width:103px; height:29px;

-moz-transition: all 0.8s ease 0s;
 -webkit-transition: all 0.8s ease 0s;
 -o-transition: all 0.8s ease 0s;

-webkit-transform: scale(0) rotate(0deg);
   -moz-transform:scale(0) rotate(0deg);
   -o-transform: scale(0) rotate(0deg);
   -ms-transform:scale(0) rotate(0deg);
   transform:scale(0) rotate(0deg);
}
 .product-col:hover .hover-spesial{ display:block;

-webkit-transform: scale(1) rotate(720deg);
   -moz-transform: scale(1) rotate(720deg);
   -o-transform: scale(1) rotate(720deg);
   -ms-transform: scale(1) rotate(720deg);
   transform: scale(1) rotate(720deg);
}

.nivo-directionNav {
	display:block !important;
}	