/*+clearfix {*/
.products-grid LI.item:after, .grid_wrapper:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.products-grid LI.item, .grid_wrapper
{
	display: inline-block;
}
.products-grid LI.item, .grid_wrapper
{
/*\*/
	display: block;
/**/
	_height: 1px;
}
/*+}*/
/*[clearfix]*/.products-grid LI.item
{
	margin-bottom: 20px;
	display: inline-block;
	position: relative;
}
#brand_cat
{
	width: 100%;
}
#brand_cat .grey_bg
{
	background-color: #F1F1F1;
}
#variants
{
	width: 100%;
}
#variants TD
{
	vertical-align: middle;
	padding: 5px;
}
SPAN
{
}
#variants .price-box SPAN
{
	font-weight: bold;
	/*[empty]+placement:;*/
}
#variants LABEL.variant_name
{
	font-size: 15px;
	font-weight: bold;
}
A.cloud-zoom-gallery
{
	width: 102px;
	height: 102px;
	text-align: center;
	margin-bottom: 5px;
	line-height: 95px;
}
A.cloud-zoom-gallery IMG
{
	vertical-align: middle;
}
A.product-image
{
	text-align: center;
}
/*[clearfix]*/.grid_wrapper
{
	overflow: hidden;
}
FORM.variants SELECT
{
	width: 210px;
	margin-bottom: 10px;
	max-width: 98%;
}
.regular-price I
{
	font-style: normal;
	font-weight: bold;
	color: #F2CB16;
}
SPAN.regular-price STRIKE
{
	display: block;
	float: left;
	width: 105px;
	font-size: 15px;
	margin-top: 3px;
}
.products-grid A.button-view
{
	padding: 0 8px;
	float: right;
}
.product-box A.product-image.image
{
	padding: 2px;
	margin-bottom: 10px;
	margin-left: -2px;
}
.form-search BUTTON
{
}
/*@group Общий стиль*/
#blog
{
	list-style: none;
}
#currencies
{
	margin-bottom: 15px;
}
#currencies UL
{
	margin-top: 10px;
}
#currencies UL LI
{
	font-size: 12px;
	display: inline;
	padding-right: 5px;
	list-style: none;
}
#currencies UL LI A
{
	white-space: nowrap;
	color: #505050;
}
#currencies UL LI.selected A
{
	text-decoration: none;
}
/*@group Brands*/
#brands
{
	clear: both;
	margin-bottom: 10px;
	margin-top: 10px;
}
#brands A
{
	color: #EC0060;
	font-size: 12px;
	margin-right: 10px;
}
#brands IMG
{
	vertical-align: middle;
}
#brands A:hover
{
	color: #000;
}
#brands A.selected
{
	background-color: #EC0060;
	color: #FFFEFF;
	padding: 2px;
}
/*@end
Хлебные крошки*/
#path
{
	/*[disabled]margin-top:-20px;*/
	margin-bottom: 5px;
	font-size: 11px;
	color: #A0A0A0;
}
#path A
{
	color: #A0A0A0;
}
/*@end
@group Товар подробно*/
.product .image
{
	text-align: center;
	width: 300px;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	float: left;
	padding: 5px;
	margin-right: 20px;
}
.product .image IMG
{
	max-width: 300px;
}
.product .images
{
	float: left;
	clear: left;
	width: 300px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.product .images IMG
{
	text-align: center;
	width: 50px;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	float: left;
	padding: 5px;
	margin: 4px 10px 10px 0px;
}
.product .description
{
	float: right;
	width: 420px;
}
.product .features
{
	list-style: none;
	width: 100%;
	display: block;
	clear: both;
	margin-top: 15px;
	margin-bottom: 25px;
	border-bottom: 1px solid #E0E0E0;
}
.product .features SPAN
{
	display: block;
	float: right;
	width: 69%;
}
.product .features LI
{
	padding: 10px 5px;
	overflow: hidden;
	border-top: 1px solid #E0E0E0;
	background-color: #F0F0F0;
}
.product .features LI.even
{
	/*[disabled]background-color:#E9E9E9;*/
	background-color: #FFF;
}
.product .features LABEL
{
	font-style: normal;
	display: block;
	width: 30%;
	float: left;
	font-weight: bold;
}
.product .features P
{
	float: left;
	display: block;
	width: 70%;
}
.product .description .variants .price-box
{
	margin-bottom: 10px;
}
.product .variant TD
{
	padding-bottom: 6px;
	vertical-align: middle;
}
.product .compare_price
{
	font-size: 14px;
	text-decoration: line-through;
	white-space: nowrap;
	color: #707070;
}
.product .price
{
	font-size: 14px;
	white-space: nowrap;
}
.product .variant_name
{
	float: left;
	margin-right: 10px;
	font-size: 12px;
}
.product .variant_radiobutton
{
	margin-right: 5px;
	margin-left: 0px;
}
#back_forward
{
	font-size: 14px;
	margin-bottom: 20px;
	clear: both;
}
#back_forward A.prev_page_link
{
	margin-right: 20px;
}
/*@end — Товар подробно*/
.tiny_products
{
	list-style: none;
	display: block;
}
.tiny_products .product .image
{
	vertical-align: middle;
	text-align: center;
	width: 200px;
	height: 200px;
	line-height: 200px;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	padding: 5px;
	margin-bottom: 10px;
}
.tiny_products .product .image IMG
{
	vertical-align: middle;
	max-width: 200px;
}
.tiny_products .product H3
{
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: normal;
}
.tiny_products .product H3.featured
{
	background: url(../images/star.png) no-repeat;
	background-position: left middle;
	padding-left: 20px;
}
.products
{
	list-style: none;
	display: block;
}
.products .product
{
	width: 100%;
	display: block;
	clear: both;
	overflow: hidden;
}
.products .product .image
{
	text-align: center;
	width: 200px;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	float: left;
	padding: 5px;
	margin: 4px 0px 20px;
}
.products .product .image IMG
{
	max-width: 200px;
}
.products .product .product_info
{
	float: right;
	width: 450px;
	margin-bottom: 40px;
}
.products .product H3
{
	font-size: 20px;
	margin-bottom: 5px;
	font-weight: normal;
}
.products .product H3.featured
{
	background: url(../images/star.png) no-repeat;
	background-position: left middle;
	padding-left: 20px;
}
.products .product .annotation
{
	font-size: 12px;
	color: #505050;
	margin-bottom: 5px;
}
/*@group Фильтр по свойствам*/
#features
{
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
}
#features .feature_name
{
	padding: 7px;
}
#features .feature_values
{
	padding: 7px;
}
#features A
{
	padding-right: 6px;
	white-space: nowrap;
}
#features A.selected
{
	background-color: #4A4A4A;
	color: #FFF;
	text-decoration: none;
	padding-left: 6px;
}
/*@end — Фильтр по свойствам
@group Сортировка*/
.sort
{
	color: #505050;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: normal;
	font-style: normal;
}
.sort A
{
	margin-right: 5px;
}
.sort .selected
{
	color: #505050;
	text-decoration: none;
	margin-right: 5px;
}
/*@end
@group Постраничная навигация*/
.pagination2
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	overflow: hidden;
}
.pagination2 A
{
	display: block;
	float: left;
	background-color: #FFFEFF;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 7px 4px;
	min-width: 22px;
	text-align: center;
	border: 1px solid #D7D7D7;
	text-decoration: none;
}
.pagination2 A.selected:hover, .pagination2 A.selected
{
	background-color: #333232;
	color: #FFFFFF;
	border-color: #333232;
}
.pagination2 A:hover
{
	background-color: #F8F8F8;
}
.pagination2 A.next_page_link, .pagination2 A.prev_page_link
{
	border: none;
	background: none;
}
/*@end
@group Просмотренные товары*/
#browsed_products
{
	margin-bottom: 20px;
	overflow: hidden;
}
#browsed_products LI
{
	display: block;
	float: left;
	overflow: hidden;
	border: 1px solid #E0E0E0;
	background-color: #FFFFFF;
	margin: 0 7px 7px 0;
	width: 50px;
	height: 50px;
}
#browsed_products LI A
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50px;
	height: 50px;
}
/*@end — Просмотренные товары
@group Формы*/
.form INPUT[type="text"], .form INPUT[type="password"]
{
	width: 100%;
	font-size: 18px;
}
.form
{
	width: 400px;
	margin-bottom: 20px;
	display: block;
}
.form .button
{
	float: right;
	margin-top: 20px;
}
.form TEXTAREA
{
	width: 100%;
	height: 100px;
	font-size: 18px;
}
.form LABEL
{
	display: block;
	font-size: 14px;
	margin-bottom: 7px;
	font-weight: bold;
}
.form INPUT[type="text"]
{
	display: block;
	margin-bottom: 10px;
}
/*@group Комментарии*/
.comment_list
{
	margin-top: 15px;
	list-style: none;
}
.comment_list LI
{
	padding-bottom: 15px;
}
.comment_header
{
	font-size: 18px;
}
.comment_header I
{
	font-weight: normal;
	font-style: normal;
	color: #878787;
	font-size: 13px;
}
/*@end — Комментарии
@group Форма отправки комментария*/
.comment_form
{
	padding: 0 20px 0 0;
	margin-top: 20px;
	/*[disabled]width:90%;*/
	overflow: hidden;
	float: none !important;
	display: block;
}
#comments FORM
{
}
.comment_form DIV
{
}
.comment_form H2
{
	margin-bottom: 0px;
}
.comment_form .comment_textarea
{
	width: 100%;
	height: 100px;
	font-size: 12px;
}
.comment_form LABEL
{
	display: block;
	float: left;
	width: 100px;
	font-size: 18px;
	margin-top: 15px;
}
.comment_form .input_name
{
	font-size: 16px;
	width: 250px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.input_captcha
{
	float: left;
	width: 150px !important;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 15px;
	height: 36px;
}
.comment_form .captcha
{
	float: left;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
}
.comment_form .button, .feedback_form .button, .register_form .button, .login_form .button
{
	float: right;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
}
/*@end — Форма отправки комментария
@group Форма отправки обратной связи*/
.feedback_form
{
	padding-right: 20px;
	margin-top: 20px;
	overflow: hidden;
	width: 100%;
}
.feedback_form .input_captcha
{
	float: left;
	width: 150px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 15px;
	height: 36px;
}
.feedback_form .captcha
{
	float: left;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
}
.feedback_form .button_send
{
	font-size: 18px;
	float: right;
	margin-top: 25px;
}
/*@end — Форма отправки комментария
@group Корзина*/
#purchases
{
	width: 100%;
}
#purchases TR
{
	border-top: 1px solid #D5D5D5;
	height: 70px;
	vertical-align: middle;
}
#purchases TD
{
	vertical-align: middle;
}
#purchases TH
{
	vertical-align: top;
	padding-top: 10px;
	font-size: 18px;
	font-weight: normal;
}
#purchases .image
{
	width: 50px;
	text-align: center;
}
#purchases .image A
{
	border: 1px solid #E0E0E0;
	background-color: #FFFFFF;
	margin: 0 7px 7px 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50px;
	height: 50px;
}
#purchases .name
{
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}
#purchases TD.name
{
	font-size: 14px;
}
#purchases TD .download_attachment
{
	white-space: nowrap;
	color: #3B8500;
	padding: 5px 10px 7px;
	border-bottom-color: 1px dotted green;
	background-color: #CCFF72;
	line-height: 30px;
}
#purchases .price
{
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	text-align: right;
}
#purchases TD.price
{
	font-size: 14px;
}
#purchases .remove
{
	padding-left: 15px;
	text-align: right;
}
#purchases .amount
{
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
}
#purchases .amount SELECT
{
	font-size: 12px;
}
UL#deliveries
{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	padding: 20px 20px 0;
	list-style: none;
}
UL#deliveries LI
{
	margin-bottom: 20px;
}
UL#deliveries LI DIV.checkbox
{
	float: left;
}
UL#deliveries LI H3, UL#deliveries LI .description
{
	display: block;
	margin-left: 25px;
}
/*@end
@group Кабинет*/
#orders_history
{
	list-style: none;
}
#orders_history LI
{
	margin-bottom: 10px;
}
#orders_history LI A
{
	font-size: 16px;
}
/*@end — Кабинет
@group Детали заказа*/
TABLE.order_info
{
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #F9F9F9;
}
TABLE.order_info TD
{
	padding: 10px;
	border: 1px dotted #E0E0E0;
	font-size: 14px;
}
.checkout_button
{
	padding: 10px 20px;
	border: 1px solid #51A400;
	background-color: #D3FFA9;
	color: #2E5E00;
	font-size: 14px;
}
/*@end
Сообщение с ошибкой*/
.message_error
{
	clear: both;
	padding: 10px 20px;
	margin-bottom: 15px;
	margin-top: 10px;
	overflow: hidden;
	color: #FF0000;
	background-color: #FFCACA;
	border: 1px dotted #FF4545;
}
/*@end*/
.transfer_class
{
	z-index: 10000;
}
